body {
 background-color: #000000 !important;
}  

.userinput{
	align-items: center !important;
}

#uodir{
	align-items: center;
    background-color: white;
    color: black;
    padding-right: 100px;
}

#succestext{
    color:white;
}